<%include ./partials/header%>

<main class="container-fluid px-0 g-pt-65">
  <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
    <%include ./partials/side_nav%>
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
      <div class="g-pa-20">
        <header class="g-mb-20">
          <div class="media">
            <div class="d-flex align-self-center">
              <h1 class="g-font-weight-300 g-font-size-28 g-color-black mb-0">
                Register New Customer
              </h1>
            </div>
          </div>
        </header>
        <hr class="d-flex g-brd-gray-light-v7 g-my-30" />

        <div class="col-md-12">
          <div
            class="h-100 g-brd-around g-brd-gray-light-v7 g-rounded-4 g-pa-15 g-pa-20--md"
          >
            <form action="/admin/customer/new" method="POST">
              <header>
                <h2
                  class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0"
                >
                  General information
                </h2>
              </header>

              <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md" />

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#company_name">Company name</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0 has-success">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="company_name"
                      name="company_name"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="text"
                      required="required"
                      data-msg="This field is mandatory"
                      data-error-class="u-has-error-v3"
                      data-success-class="has-success"
                      aria-required="true"
                    />
                  </div>
                </div>
              </div>

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#type">Company type</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="type"
                      name="type"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="text"
                      required="required"
                      data-msg="This field is mandatory"
                      data-error-class="u-has-error-v3"
                      data-success-class="has-success"
                      aria-required="true"
                    />
                  </div>
                </div>
              </div>

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#ceo">CEO type</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="ceo"
                      name="ceo"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="text"
                      required="required"
                      data-msg="This field is mandatory"
                    />
                  </div>
                </div>
              </div>

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#email">Email Or Phone</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="email"
                      name="email"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="text"
                      required="required"
                      data-msg="This field is mandatory"
                    />
                  </div>
                </div>
              </div>

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#location">Your Location</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="location"
                      name="location"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="text"
                      required="required"
                      data-msg="This field is mandatory"
                    />
                  </div>
                </div>
              </div>

              <header>
                <h2
                  class="text-uppercase g-font-size-12 g-font-size-default--md g-color-black mb-0"
                >
                  Create a password
                </h2>
              </header>

              <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md" />

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#password">New Password</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="password"
                      name="password"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="password"
                      required="required"
                      data-msg="This field is mandatory"
                    />
                  </div>
                </div>
              </div>

              <div class="row g-mb-20">
                <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
                  <label class="mb-0" for="#password2">Confirm Password</label>
                </div>

                <div class="col-md-9 align-self-center">
                  <div class="form-group g-pos-rel mb-0">
                    <span
                      class="g-pos-abs g-top-0 g-right-0 d-block g-width-40 h-100 opacity-0 g-opacity-1--success"
                    >
                      <i
                        class="hs-admin-check g-absolute-centered g-font-size-default g-color-secondary"
                      ></i>
                    </span>
                    <input
                      id="password2"
                      name="password2"
                      class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
                      type="password"
                      required="required"
                      data-msg="This field is mandatory"
                    />
                  </div>
                </div>
              </div>

              <hr class="d-flex g-brd-gray-light-v7 g-my-15 g-my-30--md" />

              <div>
                <button
                  class="btn btn-md btn-xl--md u-btn-secondary g-width-160--md g-font-size-12 g-font-size-default--md g-mb-10"
                  type="submit"
                >
                  Save Changes
                </button>
                <button
                  class="btn btn-md btn-xl--md u-btn-outline-gray-dark-v6 g-font-size-12 g-font-size-default--md g-mr-10 g-mb-10"
                  type="reset"
                >
                  Cancel
                </button>
              </div>
            </form>
          </div>
        </div>

        <%include ./partials/footer%>
      </div>
    </div>
  </div>
</main>
