<%include ./partials/header%>

<main class="container-fluid px-0 g-pt-65">
  <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
    <%include ./partials/side_nav%>
    <!-- End Sidebar Nav -->
    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
      <div class="g-pa-20">
        <div class="row">
          <div class="col-sm-6 col-lg-6 col-xl-3 g-mb-30">
            <!-- Panel -->
            <div class="card h-100 g-brd-gray-light-v7 g-rounded-3">
              <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media">
                  <div class="d-flex g-mr-15">
                    <div
                      class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-lightblue-v3 g-font-size-18 g-font-size-24--md g-color-white rounded-circle"
                    >
                      <i class="hs-admin-briefcase g-absolute-centered"></i>
                    </div>
                  </div>

                  <div class="media-body align-self-center">
                    <div class="d-flex align-items-center g-mb-5">
                      <span class="g-font-size-24 g-line-height-1 g-color-black"
                        >20</span
                      >
                      <span
                        class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md"
                      >
                      </span>
                    </div>

                    <h6
                      class="g-font-size-16 g-font-weight-300 g-color-gray-dark-v6 mb-0"
                    >
                      News Posts
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>

          <div class="col-sm-6 col-lg-6 col-xl-3 g-mb-30">
            <!-- Panel -->
            <div class="card h-100 g-brd-gray-light-v7 g-rounded-3">
              <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media">
                  <div class="d-flex g-mr-15">
                    <div
                      class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-teal-v2 g-font-size-18 g-font-size-24--md g-color-white rounded-circle"
                    >
                      <i class="hs-admin-check-box g-absolute-centered"></i>
                    </div>
                  </div>

                  <div class="media-body align-self-center">
                    <div class="d-flex align-items-center g-mb-5">
                      <span class="g-font-size-24 g-line-height-1 g-color-black"
                        >40</span
                      >
                      <span
                        class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md"
                      >
                      </span>
                    </div>

                    <h6
                      class="g-font-size-16 g-font-weight-300 g-color-gray-dark-v6 mb-0"
                    >
                      Total Installs
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>

          <div class="col-sm-6 col-lg-6 col-xl-3 g-mb-30">
            <!-- Panel -->
            <div class="card h-100 g-brd-gray-light-v7 g-rounded-3">
              <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media">
                  <div class="d-flex g-mr-15">
                    <div
                      class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-darkblue-v2 g-font-size-18 g-font-size-24--md g-color-white rounded-circle"
                    >
                      <i class="hs-admin-eye g-absolute-centered"></i>
                    </div>
                  </div>

                  <div class="media-body align-self-center">
                    <div class="d-flex align-items-center g-mb-5">
                      <span class="g-font-size-24 g-line-height-1 g-color-black"
                        >70</span
                      >
                      <span
                        class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md"
                      >
                      </span>
                    </div>

                    <h6
                      class="g-font-size-16 g-font-weight-300 g-color-gray-dark-v6 mb-0"
                    >
                      Total Visits
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>

          <div class="col-sm-6 col-lg-6 col-xl-3 g-mb-30">
            <!-- Panel -->
            <div class="card h-100 g-brd-gray-light-v7 g-rounded-3">
              <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media">
                  <div class="d-flex g-mr-15">
                    <div
                      class="u-header-dropdown-icon-v1 g-pos-rel g-width-60 g-height-60 g-bg-lightred-v2 g-font-size-18 g-font-size-24--md g-color-white rounded-circle"
                    >
                      <i class="hs-admin-user g-absolute-centered"></i>
                    </div>
                  </div>

                  <div class="media-body align-self-center">
                    <div class="d-flex align-items-center g-mb-5">
                      <span class="g-font-size-24 g-line-height-1 g-color-black"
                        >90</span
                      >
                      <span
                        class="d-flex align-self-center g-font-size-0 g-ml-5 g-ml-10--md"
                      >
                      </span>
                    </div>

                    <h6
                      class="g-font-size-16 g-font-weight-300 g-color-gray-dark-v6 mb-0"
                    >
                      Total Active Users
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Panel -->
          </div>
        </div>

        <header class="g-mb-20">
          <h2 class="g-font-weight-400 g-font-size-16 g-color-black mb-0">
            Trending News
          </h2>
        </header>
        <div class="table-responsive g-mb-40">
          <table class="table u-table--v3 g-color-black">
            <thead>
              <tr>
                <th>Title</th>
                <th></th>
                <th>Posted Date</th>
                <th>Views</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>

      <%include ./partials/footer%>
    </div>
  </div>
</main>
