<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Title -->
  <title>News | Admin</title>

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="images/logo-sm.png">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/admin/assets2/vendor/bootstrap/bootstrap.min.css">
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="/admin/assets2/vendor/icon-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/icon-line/css/simple-line-icons.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/icon-etlinefont/style.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/icon-line-pro/style.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/icon-hs/style.css">

  <link rel="stylesheet" href="/admin/assets/vendor/hs-admin-icons/hs-admin-icons.css">

  <link rel="stylesheet" href="/admin/assets2/vendor/animate.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">

  <link rel="stylesheet" href="/admin/assets/vendor/flatpickr/dist/css/flatpickr.min.css">
  <link rel="stylesheet" href="/admin/assets/vendor/bootstrap-select/css/bootstrap-select.min.css">

  <link rel="stylesheet" href="/admin/assets/vendor/chartist-js/chartist.min.css">
  <link rel="stylesheet" href="/admin/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css">
  <link rel="stylesheet" href="/admin/assets2/vendor/fancybox/jquery.fancybox.min.css">

  <link rel="stylesheet" href="/admin/assets2/vendor/hamburgers/hamburgers.min.css">

  <!-- CSS Unify -->
  <link rel="stylesheet" href="/admin/assets/css/unify-admin.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/admin/assets2/css/custom.css">

  <!-- JS -->
  <!-- JS Global Compulsory -->
  <script src="/admin/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/admin/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>

  <script src="/admin/assets2/vendor/popper.js/popper.min.js"></script>
  <script src="/admin/assets2/vendor/bootstrap/bootstrap.min.js"></script>

  <script src="/admin/assets2/vendor/cookiejs/jquery.cookie.js"></script>


  <!-- jQuery UI Core -->
  <script src="/admin/assets2/vendor/jquery-ui/ui/widget.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/version.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/keycode.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/position.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/unique-id.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/safe-active-element.js"></script>

  <!-- jQuery UI Helpers -->
  <script src="/admin/assets2/vendor/jquery-ui/ui/widgets/menu.js"></script>
  <script src="/admin/assets2/vendor/jquery-ui/ui/widgets/mouse.js"></script>

  <!-- jQuery UI Widgets -->
  <script src="/admin/assets2/vendor/jquery-ui/ui/widgets/datepicker.js"></script>

  <!-- JS Plugins Init. -->
  <script src="/admin/assets2/vendor/appear.js"></script>
  <script src="/admin/assets/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
  <script src="/admin/assets/vendor/flatpickr/dist/js/flatpickr.min.js"></script>
  <script src="/admin/assets2/vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="/admin/assets/vendor/chartist-js/chartist.min.js"></script>
  <script src="/admin/assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.js"></script>
  <script src="/admin/assets/vendor/fancybox/jquery.fancybox.min.js"></script>

  <!-- JS Unify -->
  <script src="/admin/assets2/js/hs.core.js"></script>
  <script src="/admin/assets/js/components/hs.side-nav.js"></script>
  <script src="/admin/assets2/js/helpers/hs.hamburgers.js"></script>
  <script src="/admin/assets/js/components/hs.range-datepicker.js"></script>
  <script src="/admin/assets2/js/components/hs.datepicker.js"></script>
  <script src="/admin/assets2/js/components/hs.dropdown.js"></script>
  <script src="/admin/assets2/js/components/hs.scrollbar.js"></script>
  <script src="/admin/assets/js/components/hs.area-chart.js"></script>
  <script src="/admin/assets/js/components/hs.donut-chart.js"></script>
  <script src="/admin/assets/js/components/hs.bar-chart.js"></script>
  <script src="/admin/assets2/js/helpers/hs.focus-state.js"></script>
  <script src="/admin/assets/js/components/hs.popup.js"></script>

  <!-- JS Custom -->
  <script src="/admin/assets2/js/custom.js"></script>

  <!-- JS Plugins Init. -->
  
</head>


<body>
    
  <!-- Header -->
  <header id="js-header" class="u-header u-header--sticky-top">
    <div class="u-header__section u-header__section--admin-dark g-min-height-65">
      <nav class="navbar no-gutters g-pa-0">
        <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
          <!-- Logo -->
          <a href="/admin"  class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">

            <img src="/images/logonew.png" width="100" height="60"/>



          </a>
          <!-- End Logo -->

          <!-- Sidebar Toggler -->
          <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
            <i class="hs-admin-align-left"></i>
          </a>
          <!-- End Sidebar Toggler -->
        </div>
 
        
        <!-- Messages/Notifications/Top Search Bar/Top User -->
        <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
          <!-- Top Messages -->
        
          
          </div>
          <!-- End Top Messages -->

          <!-- Top Notifications -->
          <div class="g-pos-rel g-hidden-sm-down">
          
         
            <!-- End Top Notifications List -->
          </div>
          <!-- End Top Notifications -->

         
          <!-- Top User -->
          
          <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
            <div class="g-pos-rel g-px-10--lg">
              <a id="profileMenuInvoker" class="d-block" href="#" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
              data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                <span class="g-pos-rel">
        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-secondary g-mr-5"></span>
                <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm" src="assets/img-temp/130x130/img1.jpg" alt="Image description">
                </span>
                <span class="g-pos-rel g-top-2">
        <span class="g-hidden-sm-down">someone</span>
                <i class="hs-admin-angle-down g-pos-rel g-top-2 g-ml-10"></i>
                </span>
              </a>

              <!-- Top User Menu -->
              <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
             
                <li class="mb-0">
                  <a class="media g-color-primary--hover g-py-5 g-px-20" href="/admin/logout">
                    <span class="d-flex align-self-center g-mr-12">
          <i class="hs-admin-shift-right"></i>
        </span>
                    <span class="media-body align-self-center">Sign Out</span>
                  </a>
                </li>
              </ul>
              <!-- End Top User Menu -->
            </div>
          </div>
        
        </div>
          <!-- End Top User -->
     
        </div>
        <!-- End Messages/Notifications/Top Search Bar/Top User -->

       
    </div>
    
   

      <div class="container  g-mt-25" style="width:50%">
       
        <div class="noty_bar noty_type__success noty_theme__unify--v1 g-mb-25 alert" role="role">
            <button
            type="button"
            style="float:right; margin-right: 10%"
            
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span arial-hidden="true">&times;</span>
          </button>
            <div class="noty_body">
              
              <div class="g-mr-20" >
                
                  
                  <span class="noty_body__icon" style="float:right">
                    <i class="hs-admin-check"></i>
                  </span>
                 
               
              </div>
              <div>
               
              </div>
              
              
            </div>
          </div>
    
        </div>

     
  </header>
  
  
  <!-- End Header -->

